@tailwind base;
@tailwind components;
@tailwind utilities;

/* Svag rutbakgrund */
body {
  background-image:
    linear-gradient(rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 24px 24px, 24px 24px;
}